#area {
    position: relative;
    background-color: aqua;
}
.body {
    position: absolute;
    border-radius: 30%;
    background-color: blueviolet;
}
.body:nth-of-type(2) {
    background-color: gray;
}

.food {
    position: absolute;
    background-color: deeppink;
    border-radius: 50%;
}